.navbar-brand {
  width: 100%;
  text-align: center;
  padding-top: 1.5%;

}


.left-side {
  float: left;
}

h2 {
  font-family: "articulat-heavy-cf", sans-serif;
  font-weight: 900;
  font-style: normal;
}


input {
  font-family: articulat-heavy-cf, sans-serif;
  font-weight: 900;
  font-style: italic;
}


h3 {
  font-family: articulat-cf, sans-serif;
  font-weight: 400;
  font-style: italic;
}

a {
  font-family: articulat-cf, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align-last: center;
}


h1 {
  font-family: articulat-heavy-cf, sans-serif;
  font-weight: 900;
  font-style: italic;
}





/*fadeupanimation*/

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}




/*typing effect*/


.container {
  display: inline-block;
}

.typed-out {
  overflow: hidden;
  border-right: .25em solid #fd9fd5;
  white-space: nowrap;
  animation: typing 5s steps(50, end) forwards;
  font-size: 1rem;
  width: 0;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}




/*dropdownmenu*/


.dropdown {
  max-width: 13em;
  margin: 80px auto 0;
  position: relative;
  width: 100%;
}

.dropdown-btn {
  background: #1d1f24;
  font-size: 18px;
  width: 100%;
  border: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: transform ease-in-out 0.3s;
}

.dropdown-content {
  list-style: none;
  position: absolute;
  top: 3.2em;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
}

.dropdown-content li {
  background: #2f3238;
  border-radius: 0.5em;
  position: relative;
  left: 100%;
  transition: 0.5s;
  transition-delay: calc(60ms * var(--delay));
}

.dropdown:focus-within .dropdown-content li {
  left: 0;
}

.dropdown:focus-within .dropdown-content {
  visibility: visible;
}

.dropdown:focus-within .dropdown-btn>.arrow {
  transform: rotate(180deg);
}

.dropdown-content li:hover {
  background: #1d1f24;
}

.dropdown-content li a {
  display: block;
  padding: 0.7em 0.5em;
  color: #fff;
  margin: 0.1em 0;
  text-decoration: none;
}

/* base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}