h1 {
    font-family: transducer-variable, sans-serif;
    ;
    font-variation-settings: "slnt" 0, "wdth" 200, "wght" 900;
}

h2 {
    font-family: transducer-variable, sans-serif;
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 700;
}

p {
    font-family: sole-serif-titling-variable, sans-serif;
    font-variation-settings: "opsz" 0, "wght" 500;
    background-color: rgb(83, 165, 212);
}

li {
    font-family: sole-serif-titling-variable, sans-serif;
    font-variation-settings: "opsz" 0, "wght" 500;
}

.caption {
    font-family: sole-serif-titling-variable, sans-serif;
    font-variation-settings: "opsz" 0, "wght" 500;
}

.container {
    margin: 20px 50px;
    padding: 100px;
    border: 100px solid rgb(91, 165, 188);
    background-color: rgb(222, 225, 234);
}

body {
    background-color: rgb(222, 225, 234);
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(56, 119, 186);
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

.nav li a:hover {
    background-color: aliceblue;
}

.active-navpage {
    background-color: rgb(69, 92, 180);
}